<div class="container">

  <h1>React Celendar</h1>

  <h2>Appointments</h2>

  <h3>Make a new appointment</h3>

  <%= react_component 'Label', label: 'Select title' %>
  <%= react_component 'Tag', tag: 'I am a tag' %>
  <%= react_component 'Appointments', appointments: @appointments %>

</div>


